@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    background-image: url('/img/Rumble.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    font-family: sans-serif, serif, Arial;
}

.login-container{
    width: 370px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    background: #000000;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: #fff;
    padding: 40px 20px;
}

.login-container#create{
    width: 370px;
    height: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    background: #000000;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: #fff;
    padding: 40px 20px;
}

.login-container img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    border-radius: 50%;
    top: -70px;
}

.login-container h1{
    text-align: center;
    font-size: 20px;
}

.login-container label{
    display: block;
}

.login-container div{
    margin-bottom: 20px;
}


.login-container input[type="text"], input[type="password"]{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    color: #ffff;
    height: 40px;
}

.login-container input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background-image: linear-gradient(to right,#132070, #8772EF);
    color: #ffff;
    
}
.login-container input[type="submit"]:hover, button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px #696969;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #408080;
    font-size: 12px;
    margin-top: 10px;
}

a.home {
	text-decoration: none;
	
}

a:hover, button:hover{
    color: #d3d3d3;
    
}




  .navbar-nav .nav-item {
    display: none;
  }

  .navbar-nav.show .nav-item {
    display: block;
  }

.button {
    position: absolute;
    left: calc(22% - 78px);
    top: 1px;
    background-image: linear-gradient(to right,#35384F,#010103);
    border-style: none;
    transform: translate(0%, 0%);
}
