<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imple.language.mapper.LanguageMapper">
<select id="countAll">
	select count(*) 
	  from country_language
</select>

<select id="selectCountryCode">
	select *
	  from country_code = upper(#{code})
</select>

<select id="selectCountry">
	select * 
	  from country
	 where code = upper(#{code})
</select>
<resultMap type="com.example.imple.language.model.Language" id="withCountryResultMap">
<!-- 	<result property="contryCode" column="code"/> -->
<!-- 	<collection property="contryCode" column="code" select="selectCountry"/> -->
</resultMap>

<select id="selectAll">
	select * 
	from country_language
</select>

<select id="selectAllWithCountryCode" resultMap="withCountryResultMap">
	select *
	  from country_language 
	order by country_language.country
</select>

<select id="selectPage">
	select * 
	from country_language
</select>
</mapper>